{% load humanizelib %}
<html>
<head>
    <meta charset="UTF-8" />
    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <style>
        body {
            margin-top:2%;
            margin-left: 2%;
            margin-right: 2%;
            background-color: rgb(255, 255, 255);
            font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
        }
    </style>
</head>
<body>
    <h1>Phat Portfolio track Dashboard</h1>
    <div>
        <canvas id="portfolioChart" style="width: 100%; height: 400px;"></canvas>
    </div>
    <footer style="text-align: center; margin-top: 20px;">
        <a href="/"> Home</a>
        <a href="/phat_finance/expense">Expense</a>
        <a href="/phat_finance/dashboard">Finance Dashboard</a>
        <p>&copy; Phat's Django</p>
    </footer>
    <script>
    let portfolio_data1 = "{{ portfolio_data|safe }}";
    portfolio_data1 = portfolio_data1.replace(/'/g, '"');
    let portfolio_data = JSON.parse(portfolio_data1);
    console.log(portfolio_data);
    console.log(typeof portfolio_data);
    console.log(portfolio_data['date']);
    const data = {
    labels: portfolio_data['date'].reverse(),
    datasets: [
        {
        label: 'acbs',
        data: portfolio_data['acbs'].reverse(),
        borderColor: "#86ff36",
        pointStyle: 'circle',
        pointRadius: 1,
        pointHoverRadius: 5,
        fill: false,
        },
        {
        label: 'mio',
        data: portfolio_data['mio'].reverse(),
        borderColor: "#969696",
        pointStyle: 'circle',
        pointRadius: 1,
        pointHoverRadius: 5,
        fill: false,
        },
        {
        label: 'dragon',
        data: portfolio_data['dragon'].reverse(),
        borderColor: "#005709",
        pointStyle: 'circle',
        pointRadius: 1,
        pointHoverRadius: 5,
        fill: false,
        },
        {
        label: 'ssi',
        data: portfolio_data['ssi'].reverse(),
        borderColor: "#ff0000",
        pointStyle: 'circle',
        pointRadius: 1,
        pointHoverRadius: 5,
        fill: false,
        },
        {
        label: 'idle_cash',
        data: portfolio_data['ssi'].reverse(),
        borderColor: "#fffc3d",
        pointStyle: 'circle',
        pointRadius: 1,
        pointHoverRadius: 5,
        fill: false,
        },
        {
        label: 'crypto',
        data: portfolio_data['ssi'].reverse(),
        borderColor: "#49047a",
        pointStyle: 'circle',
        pointRadius: 1,
        pointHoverRadius: 5,
        fill: false,
        },
    ]
    };
    const config = {
    type: 'line',
    data: data,
    options: {
        responsive: true,
        scales: {
            y: {
                stacked: false  // Enable stacking on the y-axis
            }
        },
        plugins: {
        title: {
            display: true,
            text: (ctx) => 'Point Style: ' + ctx.chart.data.datasets[0].pointStyle,
        }
        }
    }
    };
    new Chart("portfolioChart", config);
    </script>
</body>
</html>