<html>
    <head>
        <title>Phat Expenses Dashboard</title>
    </head>
    <body>
        <h1>Phat Expenses Dashboard</h1>
        <p>Welcome to your expenses dashboard!</p>

  <table>
        <thead>
            <tr>
                <th>Key</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            {% for item_json_data in json_data %}
            {% for key, value in item_json_data.items %}
                <tr>
                    <td>{{ key }}</td>
                    <td>
                        {% if value %}
                            <table>
                                {% for sub_key, sub_value in value.items %}
                                    <tr>
                                        <td>{{ sub_key }}</td>
                                        <td>{{ sub_value }}</td>
                                    </tr>
                                {% endfor %}
                            </table>
                        {% elif value|length > 1 and value|slice:":1"|first == '[' %}
                            <ul>
                                {% for item in value %}
                                    <li>{{ item }}</li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            {{ value }}
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
                {% endfor %}
        </tbody>
    </table>

    </body>
    <footer>
        <a href="/">Home</a>
        <a href="/phat_finance/dashboard">Dashboard</a>
        <p>&copy; 2025 Phat Finance</p>
    </footer>
</html>