{% extends "base.html" %}

{% load static %}
{% load humanizelib %}

{% block title %}Phat Finance Dashboard{% endblock %}

{% block extra_head %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
{% endblock %}

{% block content %}
    <h1>Phat Finance Dashboard</h1>
    <p>Welcome to my personal finance dashboard!</p>

    <div class="row" style="margin-bottom: 24px;">
        <div class="col">
            <div class="card">
                <table class="dashboard-table">
                    <tbody>
                        <tr>
                            <td><h3>expense_cash</h3><p class="hidden-text" data-original="{{ expense_cash|floatformat:0|intcomma }}">********</p></td>
                            <td><h3>expense_digital</h3><p class="hidden-text" data-original="{{ expense_digital|floatformat:0|intcomma }}">********</p></td>
                            <td><h3>expense_credit</h3><p class="hidden-text" data-original="{{ expense_credit|floatformat:0|intcomma }}">********</p></td>
                            <td style="vertical-align: middle;">
                                <button onclick="toggleText('hidden-text')" class="btn" style="background-color: var(--accent);">
                                    <span>Toggle hide</span>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td><h3>balance_cash</h3><p class="hidden-text" data-original="{{ balance_cash|floatformat:0|intcomma }}">********</p></td>
                            <td><h3>balance_digital</h3><p class="hidden-text" data-original="{{ balance_digital|floatformat:0|intcomma }}">********</p></td>
                            <td><h3>assets</h3><p class="hidden-text" data-original="{{ assets|floatformat:0|intcomma }}">********</p></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><h3>emergency_fund</h3><p class="hidden-text" data-original="{{ emergency_fund|floatformat:0|intcomma }}">********</p></td>
                            <td><h3>sinking_fund</h3><p class="hidden-text" data-original="{{ sinking_fund|floatformat:0|intcomma }}">********</p></td>
                            <td><h3>total_investment</h3><p class="hidden-text" data-original="{{ total_investment|floatformat:0|intcomma }}">********</p></td>
                            <td><h3>total_debt</h3><p class="hidden-text" data-original="{{ total_debt|floatformat:0|intcomma }}">********</p></td>
                        </tr>
                        <tr>
                            <td><h3>Expensable this month</h3><p class="hidden-text" data-original="{{ expensable|floatformat:0|intcomma }}">********</p></td>
                            <td><h3>Salary this month</h3><p class="hidden-text" data-original="{{ budget|floatformat:0|intcomma }}">********</p></td>
                            <td><h3>last_changes</h3><p class="hidden-text" data-original="{{ last_changes }}">********</p></td>
                            <td><h3>last_changes_log</h3><p class="hidden-text" data-original="{{ last_changes_log }}">********</p></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col card">
            <div><h1>Expense This month Overview</h1></div>
            <canvas id="DoughnutExpense"></canvas>
        </div>

        <div class="col card">
            <div><h1>Budget Allocation Overview</h1></div>
            <canvas id="DoughnutBudget"></canvas>
        </div>
    </div>
{% endblock %}

{% block extra_scripts %}
    <script src="{% static 'js/dashboard.js' %}"></script>
    <script>
        main(
            "{{ necessity | safe }}",
            "{{ pleasure | safe }}",
            "{{ saving_month | safe }}",
            "{{ investment_month | safe }}",
            "{{ rent | safe }}",
            "{{ vacation | safe }}",
            "{{ funds | safe }}",
            "{{ cashflow | safe }}",
            "{{ expensable | safe }}",
            "{{ expense_cash | safe }}",
            "{{ expense_digital | safe }}",
            "{{ expense_credit | safe }}",
            "{{ budget | safe }}"
        )
    </script>
{% endblock %}