{% load humanizelib %}
<html>
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
        <style>
        body {
            background-color: rgb(255, 255, 255);
            font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
        }
        h1 {
            color: navy;
            margin-left: 20px;
            size: 50px;
        }
        h3 {
            color: rgb(249, 0, 124);
        }
        p {
            text-size-adjust: 10px;
        }
        table, th, td  {
            width: 8%;
            height: 10%;
            padding: 8px;
            text-align: center;
            border-collapse: collapse;
            background-color: rgb(250, 255, 253);
            border:1px solid black;
        }
        </style>
        <title>Phat Finance Dashboard</title>
    </head>
<body>
    <h1>Phat Finance Dashboard</h1>
    <p>Welcome to your personal finance dashboard!</p>
    <div>
        <div>
            <table style="width:100%">
                <tr>
                    <td><h3>expense_cash : </h3> {{ expense_cash|floatformat:0|intcomma }}</td>
                    <td><h3>expense_digital : </h3> {{ expense_digital|floatformat:0|intcomma }}</td>
                    <td><h3>expense_credit : </h3> {{ expense_credit|floatformat:0|intcomma }}</td>
                    <td></td>
                </tr>
                <tr>
                    <td><h3>balance_cash : </h3> {{ balance_cash|floatformat:0|intcomma }}</td>
                    <td><h3>balance_digital : </h3> {{ balance_digital|floatformat:0|intcomma }}</td>
                    <td><h3>assets: </h3> {{ assets|floatformat:0|intcomma }}</td>
                    <td></td>
                </tr>
                <tr class="base-table">
                    <td><h3>emergency_fund : </h3> {{ emergency_fund|floatformat:0|intcomma }}</td>
                    <td><h3>sinking_fund : </h3> {{ sinking_fund|floatformat:0|intcomma }}</td>
                    <td><h3>total_investment : </h3> {{ total_investment|floatformat:0|intcomma }}</td>
                    <td><h3>total_debt : </h3> {{ total_debt|floatformat:0|intcomma }}</td>
                </tr>
                <tr class="base-table">
                    <td><h3>Expensable this month:</h3>{{ expensable|floatformat:0|intcomma }}</td>
                    <td><h3>Salary this month:</h3>{{ budget|floatformat:0|intcomma }}</td>
                    <th><h3>last_changes : </h3> {{ last_changes }}</th>
                    <th><h3>last_changes_log : </h3> {{ last_changes_log }}</th>
                </tr>
            </table>
        </div style="margin-top:20px, width:50%">
        <canvas id="PieExpense" style="width:25%"></canvas>
        <canvas id="PieBudget" style="width:25%"></canvas>
    </div>
    <footer>
        <a href="/"> Home</a>
        <a href="/phat_finance/expense">Expense</a>
        <p>&copy; 2025 Phat Finance</p>
    </footer>
    <script>
        const remaining = parseInt("{{ expensable | safe }}") -
        (parseInt("{{ expense_cash | safe }}") + parseInt("{{ expense_digital | safe }}") + parseInt("{{ expense_credit | safe }}"));
        if (remaining < 0) {
            window.alert("Expensable exceeded");
        }
        const xPieExpense = ["expense_cash", "expense_digital", "expense_credit", "remaining"];
        const yPieExpense = ["{{ expense_cash | safe }}","{{ expense_digital | safe }}",
                            "{{ expense_credit | safe }}", remaining];
        const PieExpenseColors = ["#ff96a4", "#ccffcc","#96bfff"];
        const xPieBudget = ["necessity", "pleasure","saving_month", "investment_month", 
                            "rent", "vacation", "funds", "cashflow"]
        const yPieBudget = [
            "{{ necessity | safe }}", 
            "{{ pleasure | safe }}",
            "{{ saving_month | safe }}",
            "{{ investment_month | safe }}",
            "{{ rent | safe }}",
            "{{ vacation | safe }}",
            "{{ funds | safe }}",
            "{{ cashflow | safe }}"
            ]
        const PieBudgetColors = ["#ff2929", "#0047c9","#69ff7a", "pink",
            "#ff8e4d", "#73e3ff", "#9e3dff", "#fff878"];

        new Chart("PieExpense", {
        type: "pie",
        data: {
            labels: xPieExpense,
            datasets: [{
            backgroundColor: PieExpenseColors,
            data: yPieExpense
            }]
        },
        options: {
            title: {
                display: true,
                text: "Expense This month Overview",
                fontSize: 30,
                fontColor: "black",
                fontFamily: "Consolas, monospace"
            },
            legend: {
                display: true,
                position: "right"
            },
            tooltips: {
                callbacks: {
                    label: function(tooltipItem, data) {
                        var label = data.labels[tooltipItem.index] || '';
                        if (label) {
                            label += ': ';
                        }
                        var value = data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index];
                        label += value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") +
                        "(" + (value / parseInt("{{ expensable | safe }}") * 100).toFixed(2) + "%)";
                        return label;
                    }
                }
            }
        }
        });

        new Chart("PieBudget", {
        type: "pie",
        data: {
            labels: xPieBudget,
            datasets: [{
            backgroundColor: PieBudgetColors,
            data: yPieBudget
            }]
        },
        options: {
            title: {
                display: true,
                text: "Budget Allocation Overview",
                fontSize: 30,
                fontColor: "black",
                fontFamily: "Consolas, monospace"
            },
            legend: {
                display: true,
                position: "right"
            },
            tooltips: {
                callbacks: {
                    label: function(tooltipItem, data) {
                        var label = data.labels[tooltipItem.index] || '';
                        if (label) {
                            label += ': ';
                        }
                        var value = data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index];
                        label += value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") +
                        "(" + (value / parseInt("{{ budget | safe }}") * 100).toFixed(2) + "%)";
                        return label;
                    }
                }
            }
        }
        });

    </script>
</body>
</html>