{% extends "base.html" %}

{% load humanizelib %}

{% block title %}Phat Expenses Dashboard{% endblock %}

{% block content %}
    <h1>Phat Expenses Dashboard</h1>
    <p>
        {% if start_date and end_date %}
            Expenses from {{ start_date }} to {{ end_date }}
        {% elif date %}
            Expenses for {{ date }}
        {% else %}
            All expenses
        {% endif %}
    </p>

    <form method="post" class="filter-form">
        {% csrf_token %}
        {{ date_filter }}
        <button type="submit" class="btn">Submit</button>
    </form>

    {% if json_data %}
        <div class="card" style="padding: 0; overflow-x: auto;">
            <table>
                <thead>
                    <tr>
                        <th>date</th>
                        <th>cash ({{ total_cash }})</th>
                        <th>digital ({{ total_digital }})</th>
                        <th>credit ({{ total_credit }})</th>
                        <th>category</th>
                        <th>description</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in json_data %}
                        <tr>
                            <td>{{ item.fields.date }}</td>
                            <td style="background: #ffc4c4">{{ item.fields.cash }}</td>
                            <td style="background: #c7ffd8">{{ item.fields.digital }}</td>
                            <td style="background: #d1e3ff">{{ item.fields.credit }}</td>
                            {% if item.fields.category == 'dating 😘😻💌' %}
                                <td style="background: rgb(255, 104, 155)">{{ item.fields.category }}</td>
                            {% elif item.fields.category == 'food_drink 🍔🍜☕' %}
                                <td style="background: rgb(255, 98, 41)">{{ item.fields.category }}</td>
                            {% elif item.fields.category == 'grocery 🛒🥦🥩' %}
                                <td style="background: rgb(0, 119, 0)">{{ item.fields.category }}</td>
                            {% elif item.fields.category == 'medical 💊🧑‍⚕️🩺' %}
                                <td style="background: lightskyblue">{{ item.fields.category }}</td>
                            {% elif item.fields.category == 'bikecare 🏍️🛣️🧑‍🔧' %}
                                <td style="background: rgb(36, 95, 115)">{{ item.fields.category }}</td>
                            {% elif item.fields.category == 'haircut 💇‍♂️💈👱' %}
                                <td style="background: rgb(146, 198, 185)">{{ item.fields.category }}</td>
                            {% elif item.fields.category == 'gas ⛽⚡🚛' %}
                                <td style="background: rgb(134, 74, 255)">{{ item.fields.category }}</td>
                            {% elif item.fields.category == 'subscriptions💳💸🏦' %}
                                <td style="background: purple">{{ item.fields.category }}</td>
                            {% elif item.fields.category == 'utility' %}
                                <td style="background: rgb(255, 255, 192)">{{ item.fields.category }}</td>
                            {% elif item.fields.category == 'insurance' %}
                                <td style="background: rgb(109, 53, 83)">{{ item.fields.category }}</td>
                            {% elif item.fields.category == 'donation 🧧💸🫂' %}
                                <td style="background: rgb(255, 223, 195)">{{ item.fields.category }}</td>
                            {% elif item.fields.category == 'gifts🎁💌💐' %}
                                <td style="background: rgb(255, 115, 99)">{{ item.fields.category }}</td>
                            {% else %}
                                <td style="background: rgb(202, 202, 202)">others🙄😏</td>
                            {% endif %}
                            <td>{{ item.fields.description }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <p>No expenses found.</p>
    {% endif %}
{% endblock %}
